<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>project group 1.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7F97CF95CC94A462B7D9033808FF8739A6C0E96B</string>
				<key>dateExpires</key>
				<string>8/25/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6WA6Y7KBQJ.CMPE.project-group-1-b</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Development</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.CMPE.project-group-1-b</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>6WA6Y7KBQJ</string>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>6WA6Y7KBQJ.CMPE.project-group-1-b</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>project group 1.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>48d5f00c-2ae5-44a3-b856-bb69254230fb</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: CMPE.project-group-1-b</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6WA6Y7KBQJ</string>
				<key>name</key>
				<string>THE WINDOW SPECIALISTS</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
